* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
}

body {
  background: linear-gradient(180deg, #ffd6e8, #ffeef6);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ff5fa2;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 800;
}

.game-container {
  background: #fff0f6;
  border-radius: 25px;
  padding: 15px;
  box-shadow: 0 10px 30px rgba(255, 105, 180, 0.3);
}

canvas {
  width: 320px;
  height: 180px;
  border-radius: 20px;
  background: url("img/fondo.jpg") no-repeat center;
  background-size: cover;
}

.mensaje {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
}

.controls {
  margin-top: 15px;
}

button {
  background: linear-gradient(180deg, #ff8fc7, #ff5fa2);
  border: none;
  color: white;
  font-size: 26px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  box-shadow: 0 5px 15px rgba(255, 95, 162, 0.5);
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}